{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Update Profile</title>
<script>
	function updateProfile(event) {
		event.preventDefault();
		const username = document.getElementById("username").value;
		const bio = document.getElementById("bio").value;
		const updatePath = "/profile/update/{{user.username}}/";
		fetch(updatePath, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({ username, bio }),
		})
			.then((response) => response.json())
			.then((data) => {
				console.log(data);
				if (data.message) {
					showAlert("User not found!", "error");
				} else if (data.redirect_url) {
					showAlert("Update profile success!", "success");
					window.location.href = data.redirect_url;
				}
			})
			.catch((error) => {
				console.error("Error:", error);
				showAlert("An error occurred during the update", "error");
			});
	}
	function showAlert(message, type) {
		Toastify({
			text: message,
			duration: 3000,
			gravity: "bottom", // show the toast at the bottom
			position: "right", // show the toast at the right
			backgroundColor: type === "success" ? "#4CAF50" : "#F44336",
		}).showToast();
	}
</script>
{% endblock meta %} {% block content %}
<div class="h-[100vh] flex flex-col items-center p-10">
	<a
		href="/profile/{{user.username}}"
		class="flex flex-row items-center justify-center bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded-lg"
	>
		<i class="fa fa-angle-double-left" style="font-size: 24px"></i>
		<p>&nbspBack</p>
	</a>
	<form onsubmit="updateProfile(event)">
		<div class="mt-3 text-lg flex flex-col justify-center">
			<div class="text-3xl font-bold mb-5">Update My Profile</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="username"> Username </label>
				<input
					class="px-4 py-2 rounded-md border-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="username"
					type="text"
					placeholder="Username"
					value="{{user.username}}"
					required
				/>
			</div>
			<div class="mb-4">
				<label class="block text-gray-700 text-sm font-bold mb-2" for="bio"> Bio </label>
				<textarea
					class="rounded border-2 w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="bio"
					type="text"
					placeholder="Bio"
					required
				>{{user.bio}}</textarea>
			</div>
			<button type="submit" class="m-4 px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white">
				Update Profile
			</button>
		</div>
	</form>
</div>
{% endblock content %}
