{% extends 'base.html' %} {% load static %} {% block meta %}
<title>{{ user.username }}</title>
{% endblock meta %} {% block content %}
<div class="h-[100vh] flex flex-col items-center p-10">
	<h1 class="text-3xl font-bold">Hello! {{user.username}}</h1>
	<div class="mt-3 text-lg flex flex-col justify-center">
		<!-- <p>{{user}}</p> -->
		<p>Role: {{user.role}}</p>
		<p>Bio: {{user.bio}}</p>
	</div>
	<a href="/profile/form_update/">
		<button type="submit" class="m-4 px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white">
			Update Profile
		</button>
	</a>
</div>
{% endblock content %}
