{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Login User</title>
<style>
	#loginButton.loading {
		cursor: not-allowed;
		opacity: 0.7;
	}
</style>
<script>
	function login(event) {
		event.preventDefault();
		const loginButton = document.getElementById("loginButton");
		loginButton.disabled = true; // Disable the button to prevent multiple submissions
		loginButton.classList.add("loading");
		const username = document.getElementById("username").value;
		const password = document.getElementById("password").value;
		fetch("/auth/login/", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({ username, password }),
		})
			.then((response) => response.json())
			.then((data) => {
				showAlert("Login Success!", "success");
				window.location.href = `/profile/${username}/`;
			})
			.catch((error) => {
				console.error("Error:", error);
				showAlert("Login Failed!", "error");
			})
			.finally(() => {
				loginButton.disabled = false; // Enable the button after the request is complete
				loginButton.classList.remove("loading"); // Remove loading class
			});
	}
	function showAlert(message, type) {
		Toastify({
			text: message,
			duration: 3000,
			gravity: "bottom",
			position: "right",
			backgroundColor: type === "success" ? "#4CAF50" : "#F44336",
		}).showToast();
	}
</script>
{% endblock meta %} {% block content %}
<div class="h-[100vh] flex flex-col justify-center items-center">
	<h1 class="text-2xl font-bold mb-2">Login User</h1>
	<form class="flex flex-col" onsubmit="login(event)">
		<label for="username">Username</label>
		<input
			type="text"
			name="username"
			id="username"
			placeholder="Username"
			class="px-4 py-2 rounded-md border-2"
			required
		/>
		<label class="mt-1" for="password">Password</label>
		<input
			type="password"
			name="password"
			id="password"
			placeholder="Password"
			class="px-4 py-2 rounded-md border-2"
			required
		/>
		<button
			type="submit"
			id="loginButton"
			class="mt-2 px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded-lg text-white"
		>
			Login
		</button>
	</form>
	<br />
	<p>Doesn't have account yet? <a href="/auth/register" class="text-blue-500">Register</a></p>
</div>
{% endblock content %}
