{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Registrasi User</title>
<style>
	#registerButton.loading {
		cursor: not-allowed;
		opacity: 0.7;
	}
</style>
<script>
	function register(event) {
		event.preventDefault();
		const registerButton = document.getElementById("registerButton");
		registerButton.disabled = true; // Disable the button to prevent multiple submissions
		registerButton.classList.add("loading");
		const username = document.getElementById("username").value;
		const password = document.getElementById("password").value;
		fetch("/auth/register/", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({ username, password }),
		})
			.then((response) => response.json())
			.then((data) => {
				alert("Register success!");
				// setTimeout(() => {
				// 	showAlert("Register Success!", "success");
				// }, 5000);
				window.location.href = "/auth/login/";
			})
			.catch((error) => {
				console.error("Error:", error);
				showAlert("Register Failed!", "error");
			})
			.finally(() => {
				registerButton.disabled = false; // Enable the button after the request is complete
				registerButton.classList.remove("loading"); // Remove loading class
			});
	}
	function showAlert(message, type) {
		Toastify({
			text: message,
			duration: 3000,
			gravity: "bottom",
			position: "right",
			backgroundColor: type === "success" ? "#4CAF50" : "#F44336",
		}).showToast();
	}
</script>
{% endblock meta %} {% block content %}
<div class="h-[100vh] flex flex-col justify-center items-center">
	<h1 class="text-2xl font-bold mb-2">Registrasi User</h1>
	<form class="flex flex-col" onsubmit="register(event)">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" placeholder="Username" class="px-4 py-2 rounded-md border-2" />
		<label for="password">Password:</label>
		<input
			type="password"
			id="password"
			name="password"
			placeholder="Password"
			class="px-4 py-2 rounded-md border-2"
		/>
		<button
			type="submit"
			id="registerButton"
			class="mt-2 px-4 py-2 bg-blue-500 hover:bg-blue-700 rounded-lg text-white"
		>
			Register
		</button>
	</form>
	<br />
	<p>Have an accounte already? <a href="/auth/login/" class="text-blue-500">Login</a></p>
</div>
{% endblock content %}
